{{ partial "global/head" . }}
<div class="uk-position-top">
    {{ partial "global/navbar" . }}

</div>
<div class="uk-section uk-section-xlarge" style="background: linear-gradient(rgba(17,17,17, 0.5),rgba(17,17,17, 0.5)),url(https://www.karinacrisp.com/uploads/contactpage.jpg) no-repeat center; background-size:cover">
    <div class="uk-container uk-inline uk-flex uk-flex-center">
        <div class="uk-position-center">
            <h1 class="uk-white uk-h2">{{ .Title }}</h1>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>

{{ partial "global/footer" . }}
