{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-child-width-1-2@s">
                <div class="uk-margin-medium-bottom">
                    <h3>Get in touch</h3>
                    <h2 class="uk-margin-remove">Karina Baymiller</h2>
                    <h2>eXp Realty, LLC</h2>
                    <ul class="uk-list">
                        <li><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>
                        <li><a href="tel:{{ $contact.phone }}"><strong>Office: </strong>{{ $contact.phone }}</a></li>
                        <li><a href="tel:{{ $contact.cell }}"><strong>Direct: </strong>{{ $contact.cell }}</a></li>
                        <li><a href="https://www.google.com/maps/place/{{ $contact.address }} {{ $contact.city }} {{ $contact.state }} {{ $contact.zip_code }}" target="_blank">{{ $contact.address }}, {{ $contact.city }}, {{ $contact.state }} {{ $contact.zip_code }}</a></li>
                    </ul>  
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {{ partial "templates/form" . }}
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container uk-padding footer-credit uk-container-large uk-margin-large-top">
            <hr>
            <div class="uk-grid">
                <div class="uk-width-1-2@m">
                    <ul class="uk-padding-remove">
                        <li><span class="uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }} &middot;</span></li>
                        <li>
                            <a href="https://hungryram.com" target="_blank" rel="nofollow" class="uk-text-small">Website Developed by Hungry Ram</a>
                        </li>
                    </ul>
                    
                </div>
                <div class="uk-width-1-2@s uk-dark">
                    <ul class="hr-legals">
                        {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                        <li class="uk-text-small uk-display-inline uk-margin-medium-left uk-text-right"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>