{{ $bio := .Site.Data.home.agent_bio }}
<div class="about-container" style="background:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.2)),url(uploads/about-bg.jpg) no-repeat center;background-size:cover;padding-top:5%;padding-bottom: 2%;">
<div class="section">
    <div class="container">
        <div class="columns is-vcentered is-variable is-8 about-media">
            <div class="column">
                <div class="content">
                    {{ if $bio.heading }}
                        <h1 class="title is-1 is-size-3-mobile has-text-black page-title has-text-weight-normal">Finding you the best homes in <span>Greater Knoxville</span></h1>
                    {{ end }}
                    <div class="columns">
                        <div class="column is-2">
                            <div class="line mt-4"></div>
                        </div>
                        <div class="column">
                            {{ if $bio.body_text }}
                            <p class="has-text-black">{{ $bio.body_text | markdownify }}</p>
                            {{ end }}
                                <p class="has-text-black is-size-5 mb-6">Let's get started on finding your dream home</p>
        
                            {{ if $bio.link }}
                                <a href="{{ $bio.link }}" class="about-btn">{{ $bio.link_text }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column has-text-centered">
                {{ if $bio.photo }}
                <img src="{{ $bio.photo }}" alt="Karina Crisp" class="about-home-image">
                {{ end }}
            </div>
        </div>
    </div>
</div>
</div>