<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-padding" style="border:1px solid #dddddf">
                <div class="uk-card uk-card-body">
                    <h2>Register For Property Organizer</h2>
                    <hr class="uk-divider-small">
                    <a href="" class="uk-button-secondary uk-button">Search Homes</a>
                </div>
            </div>
            <div class="uk-padding" style="border:1px solid #dddddf">
                <div class="uk-card uk-card-body">
                    <h2>Register For Property Organizer</h2>
                    <hr class="uk-divider-small">
                    <a href="" class="uk-button-primary uk-button">Search Homes</a>

                </div>
            </div>
            <div class="uk-padding" style="border:1px solid #dddddf">
                <div class="uk-card uk-card-body">
                    <h2>Register For Property Organizer</h2>
                    <hr class="uk-divider-small">
                    <a href="" class="uk-button-secondary uk-button">Search Homes</a>

                </div>
            </div>
        </div>

        <div class="title-line"></div>
    </div>
</div>