<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-expand@s uk-grid-collapse uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-padding" style="border:1px solid #dddddf">
                    <h2>Register For Property Organizer</h2>
                    <hr class="uk-divider-small">
                    <a href="https://karinacrisp.idxhome.com/organizer/login/147919" class="uk-button-secondary uk-button">My Properties</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-padding" style="border:1px solid #dddddf">
                    <h2>Advanced Search Home Tools</h2>
                    <hr class="uk-divider-small">
                    <a href="https://karinacrisp.idxhome.com/listing/search/advanced/147919/74?location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on" class="uk-button-primary uk-button">Start Search</a>

                </div>
            </div>
            <div>
                <div class="uk-card uk-padding" style="border:1px solid #dddddf">
                    <h2>Home Valuation Request</h2>
                    <hr class="uk-divider-small">
                    <a href="/home-value-request/" class="uk-button-secondary uk-button">Get home value</a>

                </div>
            </div>
        </div>

        <div class="title-line"></div>
    </div>
</div>