<div class="section">
<div class="container">
    <div class="columns has-text-centered">
        <div class="column featured-box">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-user" width="40" height="40" viewBox="0 0 24 24" stroke-width=".5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
            <h2 class="title is-3 has-text-weight-normal is-size-4-mobile">Register For Property Organizer</h2>
            <div class="line" style="margin: 0 auto"></div>
            <br><br>
            <a href="https://karinacrisp.idxhome.com/organizer/login/147919" class="primary-btn">My Properties</a>
        </div>
        <div class="column featured-middle">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-search" width="40" height="40" viewBox="0 0 24 24" stroke-width=".5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
              </svg>
            <h2 class="title is-3 has-text-weight-normal is-size-4-mobile">Advanced Search Home Tools</h2>
            <div class="line" style="margin: 0 auto"></div>
            <br><br>
            <a href="https://karinacrisp.idxhome.com/listing/search/advanced/147919/306?location=&propertyType=SFR%2CCND&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on" class="secondary-btn">Start Search</a>

        </div>
        <div class="column featured-box">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-home" width="40" height="40" viewBox="0 0 24 24" stroke-width="0.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <polyline points="5 12 3 12 12 3 21 12 19 12" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
              </svg>
            <h2 class="title is-3 has-text-weight-normal is-size-4-mobile">Home Valuation Request</h2>
            <div class="line" style="margin: 0 auto"></div>
            <br><br>
            <a href="/home-value-request" class="primary-btn">Learn more</a>
        </div>
    </div>
</div>
</div>