{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $slideSettings := .Site.Data.homelayout.slideshow_settings }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 1;">
    {{ partial "global/navbar" . }}
</div>
<div class="uk-position-relative uk-visible-toggle uk-cover-container" tabindex="-1" uk-slideshow="animation: fade;autoplay: {{ $slideSettings.enable_autoplay }}">

    <ul class="uk-slideshow-items" uk-height-viewport>
        {{ range .Site.Data.design.home_slideshow.slideshow }}
        <li>
            <div class="uk-position-cover uk-transform-origin-center-left{{ if $slideSettings.enable_ken_burns_effect }} uk-animation-kenburns{{ end }}">
                <img src="{{ .image }}" alt="" uk-cover>
                <div class="uk-overlay-hero uk-position-cover"></div>
            </div>
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <div class="uk-width-2xlarge hero-text uk-transition-slide-bottom-small">
                    {{ if .heading }}<h1 class="uk-margin-remove">Karina Crisp</h1>{{ end }}
                    {{ if .subtitle }}<h2 class="uk-h4">{{ .subtitle }}</h2>{{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
    <div class="uk-light hero-foot">
        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
            <div class="uk-container uk-container-large">
                <h2 class="uk-heading-line uk-h4 uk-text-center"><span>Find your dream home</span></h2>
                <div class="uk-child-width-expand@m uk-text-center uk-grid-collapse" uk-grid>
                    <div>
                        <div class="uk-card">
                            <h3>Search Homes</h3>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card">
                            <h3>Featured</h3>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card">
                            <h3>Contact</h3>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card">
                            <h3>Registration</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>