{{ $optBlock := dict "display" "block" }}
{{ $bio := .Site.Data.home.agent_bio }}
<div class="uk-section uk-section-large" style="background:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.2)),url(uploads/about-bg.jpg) no-repeat center;background-size:cover;">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h2 class="uk-h1">Finding you the best homes in <span class="accent">Greater Knoxville</span></h2>
                    <div class="uk-grid">
                        <div class="line uk-width-1-6@s">
                            <div style="border-top: 1.5px solid #D2B067;margin-top: 35px; width:100px"></div>
                        </div>
                        <div class="uk-width-expand@s">
                            {{ $bio.body_text | markdownify }}
                            <p class="has-text-black is-size-5 mb-6">Let's get started on finding your dream home</p>
                            {{ if $bio.link }}
                            <a href="{{ $bio.link }}" class="primary-btn accent">{{ $bio.link_text }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                {{ if $bio.photo }}
                <img src="{{ $bio.photo }}" alt="Karina Crisp" class="about-home-image">
                {{ end }}            
            </div>
        </div>
    </div>
</div>