<div class="uk-section" style="background: #000">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-large uk-white uk-text-center">
                <h2 class="uk-white">Featured Listings</h2>
                <p>View featured listings in the office</p>
            </div>
        </div>
        <script type="text/javascript" src="https://karinacrisp.idxhome.com/site/listing/gallery/slider/147919?columns=3&amp;rows=1&amp;effect=fade&amp;auto=false"></script>
    </div>
</div>