<div class="title-line"></div>
<div class="listing-bg">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half is-offset-one-quarter content pb-6">
                    <h1 class="title is-3 mb-0 has-text-white">Featured Listings</h1>
                    <p class="has-text-white">View featured listings within The Thrive Group / Brokered by eXp Realty, LLC office</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <script type="text/javascript" src="https://www.idxhome.com/site/listing/gallery/slider/{{ .Site.Data.idx.ihomefinder_client_id }}?columns=3&rows=1&effect=fade&auto=false"></script>
                </div>
            </div>
        </div>
    </div>
</div>