<div class="listing-bg pt-6">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half is-offset-one-quarter content">
                    <div class="title-line"></div>
                    <h1 class="title is-3 mb-0">Our Featured Listings</h1>
                    <p>View featured listings within Summit Realty office</p>
                    <div class="title-line"></div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <script type="text/javascript" src="https://www.idxhome.com/site/listing/gallery/slider/133408?columns=3&rows=2&effect=fade&auto=false"></script>
                </div>
            </div>
        </div>
    </div>
</div>