
{{ partial "global/navbar.html" . }}

<div class="home-slide">
{{ range .Site.Data.design.home_slideshow.slideshow }}
<section class="hero lax" style="background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url({{ .image }});height:100vh;background-size:cover;background-position:center" data-lax-bg-pos-y="0 0, vh 200 500">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body slide-content mt-6">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-three-fifths has-text-white is-offset-one-fifth">
          <h1 class="title is-1 has-text-white is-size-1-mobile hero-heading has-text-weight-normal">{{ .heading }}</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
<div class="section">
  <div class="container">
    <div class="columns pb-3">
      <div class="column has-text-centered" style="position:relative">
        <h4 class="subtitle is-6 hero-footer-title has-text-white"><span>Find Your Dream Home</span></h4>
      </div>
    </div>
    <nav class="level hero-bottom">
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4 has-text-white"><a href="" class="has-text-white">Search Homes</a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4 has-text-white"><a href="" class="has-text-white">Featured</a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4 has-text-white"><a href="" class="has-text-white">Top Picks</a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="is-size-4 has-text-white"><a href="" class="has-text-white">Registration</a></p>
        </div>
      </div>
    </nav>
  </div>
</div>

</section>
{{ end }}
</div>